@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    @font-face {
        font-family: 'Poppins';
        src: url('./assests/fonts/Poppins-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }
}

:root {
    box-sizing: border-box;
}
*,
::before,
::after {
    box-sizing: inherit;
}

html {
    font-size: 13px;
}

@media (min-width: 678px) {
    html {
        font-size: 16px;
    }
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #eef1ef;
}

/* main {
    max-width: 1120px;
    background-color: #ffffff;
    margin: 0 auto;
} */

select {
    padding: 0.1em 0.3em 0.1em 1.3em;
    background-image: url(/public/world.svg);
    background-repeat: no-repeat;
    background-size: 0.8em auto;
    background-position: 0.4em center;
    border: 0px;
    outline: 0px;
}

.scroller {
    max-width: 800px;
}

.inner_scroller {
    flex-wrap: wrap;
    padding-block: 32px;
}

.scroller[data-animated='true'] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
        90deg,
        transparent,
        white 15%,
        white 85%,
        transparent
    );
    mask: linear-gradient(
        90deg,
        transparent,
        white 15%,
        white 85%,
        transparent
    );
}

.scroller[data-animated='true'] .inner_scroller {
    width: fit-content;
    flex-wrap: nowrap;
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 16px));
    }
}
